<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
  </ol>
</nav>
<!-- /breadcrumb -->

<button class="btn btn-success fa-pull-right rounded-0 order-0" [routerLink]="['/cadastro']">
  <i class="fas fa-plus-circle"></i> Cadastrar
</button>

<h1>Listagem</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped" *ngIf="dados.length > 0">
    <thead>
      <th scope="col" style="min-width: 150px;">Item</th>
      <th scope="col" class="d-none d-sm-block d-md-block d-lg-block">Qtde</th>
      <th scope="col">Preço</th>
      <th scope="col">Perecível?</th>
      <th scope="col" class="d-none d-sm-block d-md-block d-lg-block">Fabricação/Vencimento</th>
      <th scope="col" style="min-width: 150px;">Ações</th>
    </thead>

    <tbody>
      <tr [item]="item" *ngFor="let item of dados"></tr>
      
    </tbody>
  </table>
</div>

<!-- apenas para ficar mais interativo -->
<div class="alert alert-danger mt-3 text-center" role="alert">
  <strong>Não há dados em seu LocalStorage. Vamos realizar a primeira carga de dados?</strong>
  <button class="btn btn-lg btn-dark w-100 mt-4" (click)="cargaDados()"><i class="fa fa-upload"></i> CARREGAR DADOS</button>
</div>

