html {
    position: relative;
    min-height: 100%;
}
body{
    background: #F0F0F7;
    margin-bottom: 90px;
    font-family: 'Source Sans Pro', sans-serif;
}
.padrao{
    background: #3BC99D;
    color: #3BC99D;
}
.breadcrumb{
    background: #d3d3d3;
}
.footer {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 65px;
    line-height: 30px;
    background-color: #4D4F5C;
    padding: 15px 0 10px 0;
}
.footer a{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #F0F0F7;
    font-weight: 700;
}