<div class="wrapper">

  <!-- Barra superior -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" [class]="corBarraSuperior">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="/assets/img/senior.svg" alt="Senior" height="50" class="hidden-xs hidden-sm hidden-md">

          <!-- NOME TEXTUAL? Descomentar linha abaixo e comentar acima -->
          <!-- <h1>DESAFIO <br> <span class="destaque-logo">FRONTEND</span></h1> -->
        </a>
      </div>
    </nav>
  </header>
  <!-- /Barra superior -->

  <!-- CONTEUDO -->
  <div class="content-wrapper">
    <div class="container mt-4">
      <!-- rotas do angular (app.routes.ts) -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /CONTEUDO -->

  <!-- Rodapé -->
  <app-footer></app-footer>
  <!-- /Rodapé -->

</div>